version: '3.8'
services:
  app:
    build: .
    container_name: manajer-kontak-app
    volumes:
      - .:/app 
    stdin_open: true
    tty: true
  db:
    image: redis:alpine
    container_name: manajer-kontak-db